/* Desktop css  */

.footer-section {
    background-color: #DBDCC4;
    padding: 30px 50px;
}

.footer-logo {
    display: flex;
    justify-content: flex-start;
    width: 200px;
}

.get-in-touch {
    color: #33643F;
    font-size: 48px;
    font-weight: 600;
    margin: 18px 0 10px 0;
    text-align: left;
    padding: 0 32px;
}

.address-section p {
    color: #4C4C4C;
    text-align: left;
    margin-bottom: 6px;
    padding: 0 32px;
}

.information-section {
    padding: 0 30px;
}

.information-heading {
    color: #33643F;
    font-weight: 600;
    margin: 0;
    text-align: left;
    padding: 0 30px;
}

.information-items {
    padding-top: 10px;
}

.information-items ul li {
    list-style: none;
    text-align: left;

}

.social-icon-section {
    padding: 0 30px;
}

.social-heading {
    color: #33643F;
    font-weight: 600;
    margin: 0;
    text-align: left;
    padding: 0 30px;
}

.social-icon-items {
    display: flex;
    gap: 10px;
    padding: 10px 30px;
}

.social-icon {
    width: 100%;
    height: 32px;
}


/* Responsive  */

/* Tablet Responsive (≤ 992px) */
@media (max-width: 992px) {
    .get-in-touch {
        font-size: 40px;
        padding-left: 20px;
    }

    .address-section p,
    .information-heading,
    .information-items ul li,
    .social-heading,
    .social-icon-items {
        padding-left: 20px;
    }
}


/* MOBILE RESPONSIVE (≤ 768px) */
@media (max-width: 768px) {
    .footer-section {
        padding: 20px 20px;
        text-align: center;
    }

    .footer-logo {
        margin: 0 auto 20px auto;
    }

    .get-in-touch {
        font-size: 32px;
        padding: 0;
        text-align: center;
    }

    .address-section p {
        padding: 0;
        text-align: center;
        font-size: 16px;
    }

    .information-section,
    .social-icon-section {
        padding: 0;
        margin-top: 20px;
        text-align: center;
    }

    .information-section ul {
        padding: 0px;
    }

    .information-heading,
    .social-heading {
        padding: 0;
        text-align: center;
        font-size: 20px;
    }

    .information-items ul li {
        padding: 4px 0;
        text-align: left;
    }

    .social-icon-items {
        padding: 10px 0;
        text-align: left;
    }

    .social-icon {
        height: 28px;
    }
}


/* SMALL MOBILE (≤ 480px) */
@media (max-width: 480px) {
    .get-in-touch {
        font-size: 26px;
        text-align: left;
    }

    .address-section p,
    .information-heading,
    .social-heading {
        font-size: 14px;
        text-align: left;
    }

    .social-icon-items {
        gap: 8px;
    }

    .social-icon {
        height: 24px;
    }
}