/* Desktop css  */

.main-header {
    background: #FFF7E2;
}

.nav-link {
    color: #474747;
    font-size: 20px;
    font-weight: 400;
}


/*     Responsive     */

/* Tablets: max-width 992px */
@media (max-width: 992px) {

    .nav-link {
        font-size: 18px;
    }
}

/* Mobile: max-width 768px */
@media (max-width: 768px) {
    .nav-link {
        font-size: 16px;
        padding: 10px 0;
    }
}

/* Small Mobile: max-width 480px */
@media (max-width: 480px) {
    .nav-link {
        font-size: 15px;
    }
}